# =========================
# Unity
# =========================

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/
ProfilerCaptures/

# Asset Store Tools
[Aa]ssets/AssetStoreTools*

# =========================
# IDE / Editor
# =========================

# JetBrains Rider / IntelliJ
.idea/
*.sln.iml

# Visual Studio
.vs/

# VS Code
.vscode/

# =========================
# Generated project files
# =========================

*.csproj
*.unityproj
*.sln
*.slnx
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# =========================
# OS
# =========================

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini
Assets/vFolders
Assets/vFolders.meta
Assets/vHierarchy
Assets/vHierarchy.meta
